
body	{
	background-color: #E6E6E6;
	background-position:fixed;
	font-family: Arial;

		  

}
	
div#midden { 

		overflow:hidden;
  		margin-top: 40px;
 			 margin-left: auto;
    margin-right: auto;
    width: 30em;
    
 
 		

    
	}
div#inputbox {
		width:220px;
		height:150px;
		padding:20px;
		border:5px solid gray;
		margin:0px;
	}
h2 {
   		margin-left: 55px;
   		width:220px;
		height:20px;
		padding:20px;
		border:5px solid gray;
		margin:0px;
}
/* knoppen css  */
div#knoppen{
	margin-top: 15px;
	margin-left: 85px;

}
/* Meldingen */
div#meldingen{
	color:red; 	
}
div#laatstemelding{
	color:RED;
}
div#tableopmaak{
	margin-left: 90px;
}
div#borderreg{
		border-style: solid;
	
		border-bottom-style:outset;
		padding: 20px;
		
}
